.toast-error {
  justify-content: center;
  gap: rem(10);

  [role='status'] {
    justify-content: flex-start;
    margin: 0;
    margin-left: rem(4);
    font-size: rem(14);
    font-weight: 500;
    width: fit-content;
  }
}

.toast-success {
  justify-content: center;
  gap: rem(10);

  [role='status'] {
    justify-content: flex-start;
    margin: 0;
    font-size: rem(16);
    font-weight: 500;
    width: fit-content;
    flex: unset;
  }
}

.container {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 rem(60px);

  @include max-tablet {
    max-width: 100%;
    padding: 0 rem(16);
  }
}
